@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2e3a5b;
  --muted-foreground: #58617c;
  --subtle-foreground: #777f94;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --muted: #f5f5f5;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --primary: #f37320;
  --primary-foreground: #fafafa;
  --secondary: #213f99;
  --secondary-foreground: #fafafa;
  --destructive: #e7000b;
  --destructive-foreground: #e7000b;
  --success: #39CC7E;
  --success-foreground: #FFFFFF;
  --error: #FF6262;
  --error-foreground: #FFFFFF;
  --warning: #FF9D57;
  --warning-foreground: #FFFFFF;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #f54a00;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffba00;
  --chart-5: #fd9a00;
  --radius: 0.625rem;
  --sidebar: #f1f5f9;
  --sidebar-foreground: #2e3a5b;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
}