@theme inline {
  --animate-heartbeat: heartbeat 2s infinite ease-in-out;
  --animate-rainbow: rainbow 5s linear infinite;
  --animate-move-background: move-background 60s linear infinite;
  --animate-slide-loading: slide-loading 1.5s linear infinite;
  --animate-draw: draw 500ms ease-in forwards;
  --animate-bounce: bounce 0.6s ease-out both;
  --animate-slide-in-from-bottom: slide-in-from-bottom 0.3s ease;
  --animate-slide-in-from-top: slide-in-from-top 0.3s ease;
  --animate-slide-in-from-left: slide-in-from-left 0.3s ease;
  --animate-slide-in-from-right: slide-in-from-right 0.3s ease;
  --animate-zoom-in: zoom-in 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
  --animate-zoom-out: zoom-out 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
  --animate-skewed-in: skewed 0.4s cubic-bezier(.68, -0.55, .27, 1.55);
  --animate-shake: shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
  --animate-flip-in: flip-in 0.4s cubic-bezier(.68, -0.55, .27, 1.55);
  --animate-glow: animate-glow 3s linear infinite;
  --animate-scale: scale-in 0.3s cubic-bezier(.68, -0.55, .27, 1.55);

  @keyframes heartbeat {
    0% {
      box-shadow: 0 0 0 0 var(--heartbeat-color, currentColor);
      transform: scale(1);
    }

    50% {
      box-shadow: 0 0 0 7px transparent;
      transform: scale(1.05);
    }

    100% {
      box-shadow: 0 0 0 0 transparent;
      transform: scale(1);
    }
  }

  @keyframes rainbow {
    0% {
      background-position: 0px center;
    }

    100% {
      background-position: 200% center;
    }
  }

  @keyframes slide-loading {
    0% {
      transform: translateX(25px);
    }

    100% {
      transform: translateX(-20px);
    }
  }

  @keyframes animate-glow {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 200% 50%;
    }
  }

  @keyframes move-background {
    from {
      background-position: 0% 0%;
    }

    to {
      background-position: 0% -500%;
    }
  }

  @keyframes draw {
    0% {
      stroke-dashoffset: 100;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0) scaleY(1);
    }

    30% {
      transform: translateY(-15px) scaleY(1.05);
    }

    50% {
      transform: translateY(0) scaleY(0.95);
    }

    70% {
      transform: translateY(-7px) scaleY(1.02);
    }

    85% {
      transform: translateY(0) scaleY(0.98);
    }

    100% {
      transform: translateY(0) scaleY(1);
    }
  }

  @keyframes slide-in-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes zoom-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.6);
    }
  }

  @keyframes skewed {
    0% {
      opacity: 0;
      transform: skewX(-30deg) scale(0.8);
    }

    100% {
      opacity: 1;
      transform: skewX(0deg) scale(1);
    }
  }

  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-5px);
    }

    40% {
      transform: translateX(5px);
    }

    60% {
      transform: translateX(-5px);
    }

    80% {
      transform: translateX(5px);
    }
  }

  @keyframes flip-in {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }

    100% {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }

  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.animate-bounce {
  animation: var(--animate-bounce);
}

.animate-heartbeat {
  &.bg-primary {
    --heartbeat-color: var(--primary);
  }

  &.bg-destructive {
    --heartbeat-color: var(--destructive);
  }

  &.bg-secondary {
    --heartbeat-color: var(--secondary);
  }

  &.bg-accent {
    --heartbeat-color: var(--accent);
  }
}

.animate-glow {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.75) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770);
    background-size: 200% 200%;
    animation: var(--animate-glow);
  }
}

.animate-draw svg path {
  transition: stroke-width 0.3s;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
}

.animate-draw:hover svg path {
  stroke-width: 2;
  animation: draw 500ms ease-in forwards;
}