@import "tailwindcss";
@import "@dsui/ui/styles/globals.css";
@import "./theme.css";

/* component style */
@import "./components/Button/button.css";
@import "./components/Input/input.css";

/* animation */
@import "./animation.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.floating-label input[type="date"] {
  @apply pt-5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.floating-label input[type="date"]::-webkit-calendar-picker-indicator {
  @apply w-5 h-5 text-primary cursor-pointer -translate-y-1.5 opacity-60;
  filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(0.8);
}

input[type="date"]:disabled::-webkit-calendar-picker-indicator {
  @apply opacity-50 cursor-not-allowed;
}
