/* @import "tailwindcss" prefix(ds); */

@import "@dsui/ui/styles/globals.css";
@import "./theme.css";

/* component style */
@import "./components/Button/button.css";
@import "./components/Input/input.css";
@import "./components/ImageViewer/ImageViewer.css";
@import "viewerjs/dist/viewer.css";

/* animation */
@import "./animation.css";

@layer base {
  * {
    @apply ds:border-border ds:outline-ring/50;
  }

  body {
    @apply ds:bg-background ds:text-foreground;
  }

  * {
    border: 0 solid var(--border);
    border-color: var(--border);
  }
}

.floating-label input[type="date"] {
  @apply ds:pt-5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.floating-label input[type="date"]::-webkit-calendar-picker-indicator {
  @apply ds:w-5 ds:h-5 ds:text-primary ds:cursor-pointer ds:-translate-y-1.5 ds:opacity-60;
  filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(0.8);
}

input[type="date"]:disabled::-webkit-calendar-picker-indicator {
  @apply ds:opacity-50 ds:cursor-not-allowed;
}